<h1>Editing page</h1>
<%= form_with(model: @page, url: '/admin/pages/update/' + @page.id.to_s, method: 'PUT') do |form| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% @page.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, class: 'label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :body, class: 'label'  %>
    <%= form.text_area :body, class: 'form-control'  %>
  </div>

  <div class="form-group">
    <%= form.label :order, class: 'label' %>
    <%= form.text_field :order, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :category, class: 'label' %>
    <%= form.select :category, options_for_select(@categories, @page.category), {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
