<p id="notice"><%= notice %></p>

<%= render 'admin/title', title: @article.title, link_text: '+ Add article', link_path: new_admin_article_path %>
<%= render 'layouts/categories_list' %>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body[0..100] %>
</p>

<p>
  <strong>Category:</strong>
  <%= @article.category.name %>
</p>
