<p id="notice"><%= notice %></p>

<%= render 'layouts/categories_list' %>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body[0..100] %>
</p>

<p>
  <strong>Category:</strong>
  <%= @article.category.name %>
</p>

<%= link_to 'Edit', edit_admin_article_path(@article) %> |
<%= link_to 'Back', admin_articles_path %>
