<h1>
  <%= @category.name %>
</h1>

<div class="articles-container">
  <% @articles.each do |article| %>
    <%= link_to article_url(article.id) do %>
    <div class="card article-item">
      <!--    TODO: real image-->
      <img src="<%= image_url 'example.jpg' %>" class="card-img-top" alt="sport">
      <div class="card-body">
        <h5 class="card-title"><%= article.title %></h5>
        <p class="card-text"><%= article.body[0..100] %></p>
      </div>
    <% end %>
    </div>
  <% end %>
</div>
