<p id="notice"><%= notice %></p>

<%= render 'admin/title', title: @category.name, link_text: '+ Add category', link_path: new_admin_category_path %>
<%= render 'layouts/categories_list' %>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Parent category:</strong>
  <%= @category.category.nil? ? 'None' : @category.category.name %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @category.enabled ? 'Yes' : 'No' %>
</p>

<p>
  <strong>Order:</strong>
  <%= @category.order %>
</p>
