<p id="notice"><%= notice %></p>

<%= render 'admin/title', title: 'Users', link_text: '+ Add user', link_path: new_admin_user_path %>
<%= render 'layouts/categories_list' %>

<ul class="nav nav-tabs" id="footers" role="tablist">
  <% @roles.each do |role| %>
    <li class="nav-item">
      <a class="nav-link"
         data-category_id="<%= role[:slug] %>"
         href="#<%= role[:slug] %>"
         id="<%= role[:slug] %>-tab"
         data-toggle="tab"
         role="tab"
         aria-controls="<%= role[:slug] %>"
         aria-selected="true">
        <%= role[:title] %>
      </a>
    </li>
  <% end %>
</ul>
<div class="tab-content" id="footersContent">
  <% @roles.each do |role| %>
    <div class="tab-pane fade show" id="<%= role[:slug] %>" role="tabpanel" aria-labelledby="<%= role[:slug] %>-tab">
      <%= render 'admin/users/list', users: @users.select { |user| user.role == role[:slug] }, role: role[:slug] %>
    </div>
  <% end %>
</div>



