<p id="notice"><%= notice %></p>

<%= render 'admin/title', title: @user.email, link_text: '+ Add user', link_path: new_admin_user_path %>
<%= render 'layouts/categories_list' %>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>
