<div class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-brand">
      <%= link_to 'Sports Hub', root_path %>
    </div>
    <div class="header-element">
      <input type="text" placeholder="Search by" class="form-control me-2" aria-label="Search by">
    </div>

    <% if user_signed_in? %>
      <% if current_user.is_admin? %>
        <div class="header-element">
          <%= link_to admin_root_path, class: 'btn btn-primary switch-view' do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
            </svg>
          <% end %>
        </div>
      <% end %>
      <div class="header-element">
        <%= current_user.email %>
      </div>
      <div class="header-element">
        <%= link_to 'Sign out', sign_out_path, class: 'btn btn-primary' %>
      </div>
    <% else %>
      <div class="header-element">
        <%= link_to 'Sign in', sign_in_path, class: 'btn btn-primary' %>
      </div>
      <div class="header-element">
        <%= link_to 'Sign up', sign_up_path, class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>