<!DOCTYPE html>
<html>
<head>
  <title>SportNewsPortal</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div>

  <%= render 'layouts/header' %>

  <div class="row">
    <div class="col-md-3">
      <ul class="nav flex-column">
        <li class="nav-item"><%= link_to 'Home', root_path %></li>
        <% @categories.each do |category| %>
          <li><%= link_to category.name, articles_by_category_url(category) %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </div>
</div>

</body>
</html>
