<!DOCTYPE html>
<html>
<head>
  <title>SportNewsPortal</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div>

  <%= render 'layouts/header' %>

  <div class="wrapper">
    <div class="row">
      <div class="col-md-2">
        <%= render 'layouts/navbar' %>
      </div>
      <div class="col-md-10">
        <%= yield %>

        <div class="line"></div>

        <div class="footer">
          <div class="row">
            <div class="col-md-4">
              <h4>Company info</h4>
            </div>
            <div class="col-md-4">
              <h4>Contributors</h4>
            </div>
            <div class="col-md-4">
              <h4>Newsletter</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid site-footer">
    <div class="row">
      <div class="col-md-2">
        Sport Hub
      </div>
      <div class="col-md-8"></div>
      <div class="col-md-2">
        Copyright @2021 Sport Hub
        Privacy/Terms
      </div>
    </div>
  </div>
</div>

</body>
</html>
