<!DOCTYPE html>
<html>
  <head>
    <title>SportNewsPortal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div>
    <div class="header">
      <div class="header-element">
        Sports Hub
      </div>
      <div class="header-element">
        <input type="text" placeholder="Search by">
      </div>
    </div>

    <div class="content-container">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
      <div>
        <%= yield %>
      </div>
    </div>
  </div>

  </body>
</html>
